---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<div id="banner">
			  <div id="site-title">
				<p class="site-name">Jesus Thoughts</p>
				<p class="site-tagline">Digging into Life with Jesus</p>
			  </div>
			  <nav role="navigation">
				<ul>
				  <li><a role="button" href="/">Home</a></li>
				  <li><a role="button" href="/about">About</a></li>
				  <li><a role="button" href="/contact">Contact</a></li>
				</ul>
			  </nav>
			</div>
		</header>
	</body>
</html>
